*{
    margin: 0;
    padding: 0;
}

h3,p{
    font-family: STXingKai;
}

h3{
    color:red;
}

p{
    color: gold;
    font-size: 18px;
}

pre{
    margin-left: -80px;
    font-size: larger;
    font-weight: bolder;
}

.box1{
    width: 200px;
    height: 200px;
    background: skyblue;
    /* margin: 0 auto; */
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
}

.box2{
    width: 400px;
    height: 400px;
    background: slategray;
    position: relative;
}

.kid{
    width: 200px;
    height: 200px;
    background: sienna;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
}