*{
    margin: 0;
    padding: 0;
}

.box1{

    width: 500px;
    height: 1000px;
    background: bisque;
    margin: 0 auto;
}

body{
    background-image: url(../IMG/04.jpg);
    background-size: cover;
    background-attachment: fixed;
}