.list{
    height: 213px;
    margin-top: 51px;
    margin-bottom: 35px;
}

.item{
    height: 211px;
    width: 305px;
    border: 1px solid #cccccc;
    float: left;
    /* 最右边的没有这个，要除掉 */
    margin-right: 19px;
}

.itemlast{
    margin-right: 0;
}

.item img{
    height: 164px;
    width: 305px;
    /* 用来消除不同元素间默认间隙 */
    display: block;
}

.item p{
    height: 47px;
    line-height: 47px;
    padding-left: 28px;
    font-size: 16px;

}